.label-container {
  border-width: 1px;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  font-size: medium;
  background-color: lightblue;
}

.label-label {
  color: gray;
  margin-right: 5px;
}

.label-data {
  color: blue;
}

.button {
  /* border-radius: 5px; */
  padding: 3px;
  margin: 0 3px 0 3px;
}

.table {
  width: 100%;
  border: 1px solid black;
}

.table-data {
  border: 1px solid black;
}

.td-buttons {
  border-width: 0px;
  align-items: center;
  justify-content: center;
}

.textbox-container {
  align-items: center;
}

.edit-button {
  margin: 0 2px 0 2px;
}

.invalid-input {
  color: yellow;
  background-color: red;
}

.valid-input {
  color: null;
  background-color: null;
}

body {
  background-color: lightyellow;
  align-items: center;
  padding: 10px;
}
